[submodule "emacs.d/vendor/mo-git-blame"]
	path = emacs.d/vendor/mo-git-blame
	url = git://github.com/mbunkus/mo-git-blame.git
[submodule "emacs.d/vendor/pylookup"]
	path = emacs.d/vendor/pylookup
	url = git://github.com/tsgates/pylookup.git
[submodule "emacs.d/vendor/emacs-color-theme-solarized"]
	path = emacs.d/vendor/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized
[submodule "emacs.d/vendor/Highlight-Indentation-for-Emacs"]
	path = emacs.d/vendor/Highlight-Indentation-for-Emacs
	url = git://github.com/antonj/Highlight-Indentation-for-Emacs.git
