[submodule "emacs.d/vendor/mo-git-blame"]
	path = emacs.d/vendor/mo-git-blame
	url = git://github.com/mbunkus/mo-git-blame.git
[submodule "emacs.d/vendor/emacs-color-theme-solarized"]
	path = emacs.d/vendor/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized
[submodule "emacs.d/vendor/Highlight-Indentation-for-Emacs"]
	path = emacs.d/vendor/Highlight-Indentation-for-Emacs
	url = git://github.com/antonj/Highlight-Indentation-for-Emacs.git
[submodule "emacs.d/vendor/git-tools.el"]
	path = emacs.d/vendor/git-tools.el
	url = git://github.com/quodlibetor/git-tools.el.git
[submodule "emacs.d/vendor/autopair"]
	path = emacs.d/vendor/autopair
	url = git://github.com/capitaomorte/autopair.git
