[submodule "emacs.d/vendor/mo-git-blame"]
	path = emacs.d/vendor/mo-git-blame
	url = git://github.com/mbunkus/mo-git-blame.git
[submodule "emacs.d/vendor/pylookup"]
	path = emacs.d/vendor/pylookup
	url = git://github.com/tsgates/pylookup.git
